<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <h3 class="header">Career Objective</h3>
      <div class="card-content">
        <p class="card-text">I am a highly-focused software developer with one+ years’ experience in a variety of development and engineering technologies, enthusiastic, knowledge-hungry learner, eager to meet challenges and quickly assimilate new concepts.</p>
      </div>
    </div>
    <div class="card-image">
      <img src="../../assets/img/digital-tech.jpg">
    </div>
  </div>
</div>
