<div id="skills">
  <div class="container">
    <h3 class="skills-title">Skills</h3>
    <!-- <div class="grid">
      <div class="card horizontal">
        <h5>JavaScript</h5>
        <p>ES5, ES6, ES7+</p>
      </div>
      <div class="card horizontal">
        <h5>React</h5>
        <p>Redux</p>
      </div>
      <div class="card horizontal">
        <h5>NodeJS</h5>
        <p>Express</p>
      </div>
      <div class="card horizontal">
        <h5>Git</h5>
        <p>GitHub, GitLab</p>
      </div>
      <div class="card horizontal">
        <h5>CSS Frameworks</h5>
        <p>Bootstrap/Materialize</p>
      </div>
      <div class="card horizontal">
        <h5>Tools</h5>
        <p>SASS</p>
      </div>
      <div class="card horizontal">
        <h5>Databases</h5>
        <p>MySQL, MongoDB</p>
      </div>
    </div> -->
    
    <div class="knowledge-block">
      <div class="knowledge-line">
        <h5 class="knowledge-title">JavaScript</h5>
        <p class="knowledge-description">ES5, ES6, ES7+</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">React</h5>
        <p class="knowledge-description">Redux</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">NodeJS</h5>
        <p class="knowledge-description">Express</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">Git</h5>
        <p class="knowledge-description">GitHub, GitLab</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">CSS Frameworks</h5>
        <p class="knowledge-description">Bootstrap/Materialize</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">Tools</h5>
        <p class="knowledge-description">SASS</p>
      </div>
      <div class="knowledge-line">
        <h5 class="knowledge-title">Databases</h5>
        <p class="knowledge-description">MySQL, MongoDB</p>
      </div>
      
    </div>
  </div>
</div>
