h2 {
  color: #a52a2a; 

  .date {
    color: #008000;
  }
}

.logged-block > h2 {
  width: 40%;
  height: 80px;
  text-align: center;
  background-color: #add8e6;
  padding-top: 30px;
  margin-left: 135px;
  margin-bottom: 30px;
}

