<h1>Hello Angular!</h1>

<h2>This is the step by step API creation using Angular</h2>

<h3>Namely, this is my first component with paragraph below</h3>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum natus aperiam iure nostrum fugiat vero, fugit tempora, expedita aut similique facere consequuntur cumque nam minima ab magnam beatae ex repellat labore recusandae suscipit culpa eaque ea! Itaque quidem sunt ad molestiae at, dolorum reprehenderit qui rerum atque perferendis doloribus ipsum dicta. Quibusdam, laudantium delectus eum illum illo architecto accusamus reprehenderit esse minus perspiciatis fugit incidunt quidem saepe harum dolor explicabo deserunt omnis eius nobis! Earum minima vel unde laborum aperiam dolorum fuga labore rem eum nesciunt, excepturi odio, velit expedita aliquid. Facilis, odit iste laudantium in minima exercitationem nesciunt hic.</p>

<app-new-one></app-new-one>

<app-date></app-date>

<app-looped></app-looped>

<app-click></app-click>

<app-binding></app-binding>