<!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav> -->

<div class="navigation">
  <div class="container">
    <img src="/assets/img/VolodymyrSych_small.JPG" class="my-img" alt="Photo Volodymyr Sych">
    <ul class="nav">
      <li>
        <a href="#skills">skills</a>
      </li>
      <li>
        <a href="#experience">experience</a>
      </li>
      <li>
        <a href="#goals">goals</a>
      </li>
      <li>
        <a href="#contacts">contacts</a>
      </li>
    </ul>
  </div>
</div>
