<div id="experience">
  <div class="container">
    <h3 class="experience-title">Experience</h3>
    <div class="experience-step">
      <div class="experience-context">
        <h3 class="experience-name">Lucky Labs</h3>
        <hr>
        <div class="experience-text">
          <div class="experience-position">
            <h4>Company student</h4>
            <p class="time">09.20 - till now</p>
            <p>Taking part in internal learning projects.</p>
            <h4>Company competitor</h4>
            <p class="time">03.20 - 09.20</p>
            <p>Using different technologies to fullfil front-end tasks.</p>
            <h4>Student of IT school</h4>
            <p class="time">08.19 - 12.19</p>
            <p>Accomplishing four step-projects to cover all basics front-end technologies.</p>
          </div>
        </div>
      </div>
      <div class="lucky-lab-picture"></div>
    </div>
    <div class="experience-step">
      <div class class="experience-context">
        <h3 class="experience-name">Education</h3>
        <hr>
        <div class="experience-text">
          <div class="experience-position">
            <h4>DAN IT education school</h4>
            <p class="time">08.18 - 08.19</p>
            <p>Learn essential programming front-end technologies</p>
            <h4>High Military Commanding school of the signal troops</h4>
            <p class="time">08.88-06.92</p>
            <p>Engineers to use and algorithm program the radio and space equipment in order to install and ensure stable electronic communication</p>
          </div>
        </div>
      </div>
      <div class="education-picture"></div>
    </div>
  </div>
</div>
