.tech {
  text-align: center;
  padding: 15px 0 20px;
  background-color: #ff6347;
}

.fruits {
  width: 20%;
  background-color: #ffff00;
}

.vegetables {
  width: 20%;
  margin-left: 120px;
  background-color: #90ee90;
  
  .first {
    font-size: 20px;
  }
}

